h1{
<<<<<<< HEAD
    color: blue;
    background-color: orange;
=======
    color: gold;
    background-color: red;
}
ul li:hover{
    background-color: aqua;
}

body {
    background-color: black;
>>>>>>> eeaa956f181fdc8a6db4eb44e64b1593b79fd4d1
}